* {
	margin: 0;
	padding: 0;
	border: 0;
}

.clear {
	clear: both;
}

html, body {height: 100%;}

#wrap {
	min-height: 100%;
	width: 1200px;
	margin: 0 auto;
	}

#section {
	overflow:auto;
	padding-bottom: 15px; /* must be same height as the footer */
	padding-top: 15px;	
	}  

#footer {position: relative;
	margin-top: -15px; /* negative value of footer height */
	height: 15px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	clear:both;} 


body {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url(../images/nav-bg.png) repeat-x #EEE;
	color: #000000;
	padding: 0;
	margin: 0;
}

#header {
	padding-top: 20px;
	position: relative;
}

img.logo {
	margin-bottom: 21px;
}

.metadata {
	float: right;
	text-align: right;
	padding-top: 5px;
}

.metadata p {
	font-size: 11px;
}

h2 {
	font-weight: normal;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #113366;
	# color: #114477;
}
td:hover {
	background-color: #dddddd;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
}
a:hover {
	color: #003366;
	text-decoration: underline;
}
.menu {
	color: #003366;
	text-decoration: underline;
}


#nav {
	position: relative;
}


#nav ul {
	margin-top: 2px;
}

#nav ul.left {

}


#nav ul.right {
	position: absolute;
	top: -2px;
	right: 0px;
}


#nav ul li {
	display: inline;
	list-style-type: none;
}

.ordre {
	font-weight: 100;
	font-size: 9px;
}


/* -- Buttons start -- */

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.grey {
	color: #666;
	border: solid 1px #adadad;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#9d9d9d));
	background: -moz-linear-gradient(top,  #bdbdbd,  #9d9d9d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#9d9d9d');
}
.grey:hover {
	color: #EEE;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#797979));
	background: -moz-linear-gradient(top,  #929292,  #797979);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#929292', endColorstr='#797979');
}
.grey:active {
	color: #CCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #9d9d9d,  #bdbdbd);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


/* -- Buttons end -- */


#section {
	clear: left;
	/*margin-top: 45px;*/
}


#section h2 {
	margin-top: 30px;
	margin-bottom: 12px;
	}

#footer {
	position: float;
	bottom: 5px;
	}
	
	#footer p {
		font-size: 11px;		
		}

.dialog {
	margin: 10px auto;
	width: 450px;	
	}
	
	.dialog div {
		margin-bottom: 15px;
		}
		
	.dialog input {
		float: left;		
		}
	
	.dialog table td {
		padding: 2px 0;
		font-size: 12px;	
		}
		
