body {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #eeeeee;
	color: #000000;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #113366;
	# color: #114477;
}
td:hover {
	background-color: #dddddd;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
}
a:hover {
	color: #003366;
	text-decoration: underline;
}
.menu {
	color: #003366;
	text-decoration: underline;
}
.ordre {
	font-weight: 100;
	font-size: 9px;
}
	
