body {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #eeeeee;
	color: #000033;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003322;
	# color: #114477;
}
td:hover {
	background-color: #aaaaaa;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222211;
	text-decoration: none;
}
a:hover {
	color: #003366;
	text-decoration: underline;
}
.ordre {
	font-weight: 100;
	font-size: 9px;
	color: #777777;
}
.special_td {
	background-color: #aaaaaa;
}
	
